{% import '_includes/forms.twig' as forms %}

<div class="field">
    <div class="heading"><label id="textarea44660296-label" class="h6" for="textarea44660296">Google Text‐to‐Speech AI</label></div>
    <div class="meta" style="padding-top: 20px; padding-bottom: 20px;">
        {% if entry.getTTSAudio %}
        <audio controls>
            <source src="{{ entry.getTTSAudio }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        {% endif %}

        <div class="buttons">
            <button id="preview-modal" class="btn" type="button">{{ 'Preview'|t('text-to-speech') }}</button>
            <button id="generate-tts" type="button" class="btn btn-submit" data-action="text-to-speech/text-to-speech/generate-tts" data-id="{{ entry.id }}">
                {{ 'Generate'|t('text-to-speech') }}</button>
            {% if entry.getTTSAudio %}
            <button id="delete-tts" type="button" class="btn btn-submit remove" data-action="text-to-speech/text-to-speech/delete-tts" data-id="{{ entry.id }}">{{ 'Delete'|t('app') }}</button>
            {% endif %}
        </div>
        <p>The number of characters that will be generated is <strong>{{ entry.getTTSContent|length }}</strong>.</p>
        <p>The total number of characters used this month is approximately <strong>{{ craft.app.plugins.getPlugin('text-to-speech').textToSpeechService.getTotalCharactersForCurrentMonth()|number_format }}</strong> out of <strong>1,000,000</strong> (limit for the free version).</p>

    </div>
</div>

<!-- Modal Structure -->
<div id="previewModal" class="modal" style="display: none; overflow: scroll">
    <div class="body">
        <div class="content">
            <h2>{{ 'Preview Text to Generate the Audio'|t('tex-to-speech') }}</h2>
            <div>
                {{ entry.getTTSContent() }}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        $modal = new Garnish.Modal($('#previewModal'));
        $modal.hide();
        document.getElementById('preview-modal').addEventListener('click', function() {
            $modal.show();
        });

        document.querySelectorAll('.btn-submit').forEach(function (button){

            button.addEventListener('click', function() {
                this.setAttribute('disabled', 'disabled');
                //add opacity
                this.style.opacity = 0.5;
                const action = this.getAttribute('data-action');
                const entryId = this.getAttribute('data-id');
                const currentUrl = window.location.href;


                const xhr = new XMLHttpRequest();
                xhr.open('POST', currentUrl, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            // reload
                            window.location.reload();
                        } else {
                            //window.location.reload();
                        }
                    }
                };
                xhr.send(`entryId=${entryId}&action=${action}&${Craft.csrfTokenName}=${Craft.csrfTokenValue}&siteId=${Craft.siteId}`);
            });
        });
    });
</script>