{# @var plugin \furbo\crafttexttospeech\TextToSpeechBehavior #}
{# @var settings \furbo\crafttexttospeech\models\Settings #}

{% import '_includes/forms.twig' as forms %}

{{ forms.textareaField({
    label: 'Credentials JSON'|t('text-to-speech'),
    id: 'credentialsJson',
    name: 'credentialsJson',
    value: settings.credentialsJson,
    required: true,
    rows: 20
}) }}


{% if craft.app.plugins.getPlugin('text-to-speech').textToSpeechService.validateCredentials() %}

    <hr/>

    <div class="field">
        <div class="heading"><label id="settings-attachmentVolumeId-label" for="settings-attachmentVolumeId">{{ 'Save
        Attachments'|t('text-to-speech') }}</label></div>
        <div id="settings-attachmentVolumeId-instructions" class="instructions"><p>{{ 'Where the items attachments should
        be saved.'|t('text-to-speech') }}</p></div>
        {{ forms.select({
            id: 'attachmentVolumeId',
            name: 'attachmentVolumeId',
            options: settings.getVolumes(),
            value: settings['attachmentVolumeId']})
        }}

    </div>

    {{ forms.textField({
        label: 'Folder'|t('app'),
        id: 'folder',
        name: 'folder',
        value: settings.folder,
        required: false
    }) }}

    <hr/>

    {% set siteRows = [] %}
    {% set voicesOptions = [] %}


    {% for site in craft.app.sites.getAllSites() %}
        {% set siteSettings = settings['voices'][site.handle] ?? null %}
        {% set siteRows = siteRows|merge({
            (site.handle): {
                heading: site.name|t('site')|e ~ " (" ~ site.language ~ ")",
                language: {
                    value: siteSettings ? siteSettings.language,
                    options: craft.app.plugins.getPlugin('text-to-speech').textToSpeechService.getLanguages()
                },
                voice: {
                    value: siteSettings ? siteSettings.voice,
                    options: craft.app.plugins.getPlugin('text-to-speech').textToSpeechService.getVoices(siteSettings.language ?? site.language)
                }
            }|filter
        }) %}
    {% endfor %}

    {{ forms.editableTableField({
        label: "Voices"|t('app'),
        instructions: "Define the voice for each site"|t('app'),
        id: 'voices',
        name: 'voices',
        cols: {
            heading: {
                type: 'heading',
                heading: "Site"|t('app'),
                thin: true
            },
            language: {
                type: 'select',
                heading: "Languages"|t('app'),
            },
            voice: {
                type: 'select',
                heading: "Voice"|t('app'),
                info: 'Compatible voices with <a href="https://cloud.google.com/text-to-speech/docs/ssml" target="_blank">SSML tags</a>: Neutral2, Studio, Wavenet, Standard and News'|t('text-to-speech')
            }
        }|filter,
        rows: siteRows,
        fullWidth: true,
        allowAdd: false,
        allowDelete: false,
        allowReorder: false
    }) }}

    <hr/>

    {% set sectionRows = [] %}


    {# New column to add the handle field if you don't want to use views #}

    {% for section in craft.app.sections.allSections %}
        {% set sectionSettings = settings['sections'][section.handle] ?? null %}

        {% set sectionRows = sectionRows|merge({
            (section.handle): {
                heading: section.name|t('site')|e,
                enabled: {
                    value: sectionSettings ? sectionSettings.enabled ?? false,
                },
                type: {
                    value: sectionSettings ? sectionSettings.type,
                    options: [
                        { label: 'Template', value: 'template' },
                        { label: 'Fields', value: 'fields' }
                    ]
                },
                template: {
                    value: sectionSettings ? sectionSettings.template,
                },
                fields: {
                    value: sectionSettings ? sectionSettings.fields,
                },
            }|filter
        }) %}

    {% endfor %}



    {{ forms.editableTableField({
        label: "Sections"|t('app'),
        instructions: "Define the templates for each section"|t('app'),
        id: 'sections',
        name: 'sections',
        cols: {
            heading: {
                type: 'heading',
                heading: "Section"|t('app'),
                thin: true
            },
            enabled: {
                type: 'lightswitch',
                heading: "Enabled"|t('app'),
            },
            type: {
                type: 'select',
                heading: "Type"|t('app'),
            },
            template: {
                type: 'template',
                heading: "Template"|t('app'),
                code: true
            },
            fields: {
                type: 'singleline',
                heading: "Fields"|t('app'),
                code: true
            }
        }|filter,
        rows: sectionRows,
        fullWidth: true,
        allowAdd: false,
        allowDelete: false,
        allowReorder: false
    }) }}


{% else %}
    <p id="apiKeyMessage" style="color: red;">{{ 'Please fill in the API Key to enable the other fields.'|t('text-to-speech') }}</p>
{% endif %}